<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.message.store.dao.ImGroupMessageHistoryMapper">
    <resultMap id="BaseResultMap" type="org.example.message.store.entity.ImGroupMessageHistory">
        <id column="app_id" jdbcType="INTEGER" property="appId"/>
        <id column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <id column="message_key" jdbcType="BIGINT" property="messageKey"/>
        <result column="from_id" jdbcType="VARCHAR" property="fromId"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="sequence" jdbcType="BIGINT" property="sequence"/>
        <result column="message_random" jdbcType="INTEGER" property="messageRandom"/>
        <result column="message_time" jdbcType="BIGINT" property="messageTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        app_id
        , group_id, message_key, from_id, create_time, `sequence`, message_random,
    message_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="org.example.message.store.entity.ImGroupMessageHistoryKey"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from im_group_message_history
        where app_id = #{appId,jdbcType=INTEGER}
        and group_id = #{groupId,jdbcType=VARCHAR}
        and message_key = #{messageKey,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="org.example.message.store.entity.ImGroupMessageHistoryKey">
        delete
        from im_group_message_history
        where app_id = #{appId,jdbcType=INTEGER}
          and group_id = #{groupId,jdbcType=VARCHAR}
          and message_key = #{messageKey,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="org.example.message.store.entity.ImGroupMessageHistory"
            useGeneratedKeys="true">
        insert into im_group_message_history (app_id, group_id, message_key, from_id,
                                              create_time, `sequence`, message_random,
                                              message_time)
        values (#{appId}, #{groupId,jdbcType=VARCHAR}, #{messageKey,jdbcType=BIGINT}, #{fromId,jdbcType=VARCHAR},
                #{createTime,jdbcType=BIGINT}, #{sequence,jdbcType=BIGINT}, #{messageRandom,jdbcType=INTEGER},
                #{messageTime,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" keyColumn="app_id" keyProperty="appId"
            parameterType="org.example.message.store.entity.ImGroupMessageHistory" useGeneratedKeys="true">
        insert into im_group_message_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">
                group_id,
            </if>
            <if test="messageKey != null">
                message_key,
            </if>
            <if test="fromId != null">
                from_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="sequence != null">
                `sequence`,
            </if>
            <if test="messageRandom != null">
                message_random,
            </if>
            <if test="messageTime != null">
                message_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">
                #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="messageKey != null">
                #{messageKey,jdbcType=BIGINT},
            </if>
            <if test="fromId != null">
                #{fromId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="sequence != null">
                #{sequence,jdbcType=BIGINT},
            </if>
            <if test="messageRandom != null">
                #{messageRandom,jdbcType=INTEGER},
            </if>
            <if test="messageTime != null">
                #{messageTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="org.example.message.store.entity.ImGroupMessageHistory">
        update im_group_message_history
        <set>
            <if test="fromId != null">
                from_id = #{fromId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="sequence != null">
                `sequence` = #{sequence,jdbcType=BIGINT},
            </if>
            <if test="messageRandom != null">
                message_random = #{messageRandom,jdbcType=INTEGER},
            </if>
            <if test="messageTime != null">
                message_time = #{messageTime,jdbcType=BIGINT},
            </if>
        </set>
        where app_id = #{appId,jdbcType=INTEGER}
        and group_id = #{groupId,jdbcType=VARCHAR}
        and message_key = #{messageKey,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.example.message.store.entity.ImGroupMessageHistory">
        update im_group_message_history
        set from_id        = #{fromId,jdbcType=VARCHAR},
            create_time    = #{createTime,jdbcType=BIGINT},
            `sequence`     = #{sequence,jdbcType=BIGINT},
            message_random = #{messageRandom,jdbcType=INTEGER},
            message_time   = #{messageTime,jdbcType=BIGINT}
        where app_id = #{appId,jdbcType=INTEGER}
          and group_id = #{groupId,jdbcType=VARCHAR}
          and message_key = #{messageKey,jdbcType=BIGINT}
    </update>
</mapper>